.c1{
    padding: 25px;
    background-color: beige;
    border: 10px solid white;
    border-radius: 20px;
    
}
.traffic{
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 50px;
    margin-top: 50px;
}

